/* * {border: 1px solid red;} */

#navbar-banner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 21, 39);
    z-index: 1;
}

#title {
    color: antiquewhite;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 42px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#menu-banner {
    display: inline-flex;
    background-color: rgb(1, 88, 68);
    width: 100%;
    height: 30px;
    position: absolute;
    margin: 0;
    border-bottom: 2px solid rgb(0, 166, 127);
}

.menu-elem {
    max-height: 100%;
    font-weight: bold;
    margin: 0;
    padding: 2px 6px 0 6px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.menu-elem:hover {
    cursor: pointer;
    background-color: rgb(0, 131, 101);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(0, 25, 47);
    border-top: 2px solid rgb(0, 166, 127);
}